div {
  width: 30em;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-width: 1px;
  font-size: 16px;
}

#dropdown-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
}

#dropdown-heading span {
  color: rgba(200, 200, 200, 0.8);
}

h3 {
  padding: 1em;
  color: #56657a;
  font-size: 0.75em;
  font-family: Verdana;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
}

ul li:nth-child(1) {
  border-top: 1px solid rgba(200, 200, 200, 1);
}

ul li {
  background: rgba(255, 255, 255, 1);
  border-right: 1px solid rgba(200, 200, 200, 0.5);
  border-left: 1px solid rgba(200, 200, 200, 0.5);
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  padding: 0.5em 1em;
}

li span {
  cursor: pointer;
  -webkit-margin-before: 0.3em;
  -webkit-margin-after: 0.3em;
  line-height: 1.2em;
  font-family: Verdana;
  font-size: 0.65rem;
  font-weight: 200;
}

.active {
  display: block;
}

.inactive {
  display: none;
}
